<!doctype html>
<html>
  <head>
    <title>Flask-Sock Demo</title>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>
  <body>
    <h1>Loss function</h1>
    <form id="form">
      <label for="text">Model name: </label>
      <input type="text" id="text" autofocus>
    </form>
    <div id="Loss"></div>
    <script>
      const log = (text, color) => {
        document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
      };

      const socket = new WebSocket('ws://' + location.host + '/echo');
      socket.addEventListener('message', ev => {
          msg = JSON.parse(ev.data);
          var data = [{
              x: msg.epoch,
              y: msg.loss,
              mode: "lines",
              type: "scatter"
          }];

          var layout = {
              xaxis: {title: "Epoch"},
              yaxis: {title: "Loss"},
              title: "Loss"
          };
          Plotly.newPlot("Loss", data, layout);
      });
      
//    document.getElementById('form').onsubmit = ev => {
//      ev.preventDefault();
//      const textField = document.getElementById('text');
//      socket.send(textField.value);
//      textField.value = '';
//    };
      

    </script>
  </body>
</html>
